.profile__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin-top: 16px;
  margin-bottom: 0;
}

@media screen and (max-width: 320px) {
  .profile__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    margin-top: 14px;
  }
}
