.popup__field-top {
  max-width: 358px;
  margin: 0;
  margin-top: 54px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  border: none;
}

@media screen and (max-width: 600px) {
  .popup__field-top {
    margin-top: 75px;
  }
}
